body {
  width: 1440px;
  height: 696px;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 24px;

  padding: 0px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
}